---
layout: default
---
<h1>{{ page.title }}</h1>
<nav class="page">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="https://linkedin.com/in/davidledwards">LinkedIn</a></li>
    <li><a href="https://twitter.com/davidledwards">Twitter</a></li>
    <li><a href="https://github.com/davidledwards">GitHub</a></li>
    <li><a href="mailto:david.l.edwards@gmail.com">Mail</a></li>
  </ul>
</nav>
<div>
  {{ content }}
</div>
<footer class="page">
  <ul>
    <li>Copyright &copy; 2015 David Edwards</li>
  </ul>
</footer>
